<html>
    <head>
        <title>
            {% if title %}
            {{ title }} - microblog
            {% else %}
            Welcome - Microblog
            {% endif %}
        </title>
    </head>
    <body>
        <div> Microblog: <a href="/index">Home</a></div>
        <hr>
        {% with messages = get_flash_messages() %}
        {% if messages %}
            <ul>
                {% for m in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% block content %}{% endblock %}
    </body>
</html>